.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  margin: 5vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(5px + 2vmin);
  color: rgb(90, 88, 88);
}


button {
  background: #4024fa;
  color: rgb(209, 206, 206);
  padding: 0.6rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  cursor: pointer;
  background: #3d67f0;
}

